*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --hd-bgcolor: #CBC0D3;
    --bd-bgcolor: #EFF1FF;
    --fw-main: 400;

    font-size: 62.5%;
    --ff-heading: 'Staatliches', sans-serif;
    --ff-text: 'Palanquin', sans-serif;
    --ff-pdesktop: 'Roboto', sans-serif;
    --ff-fdesktop: 'Open Sans', sans-serif; 
}

body{
    background-color: var(--bd-bgcolor);
    margin: 0 auto;
}

header{
    background-color: #8E9AAF;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 27.9rem;
    text-align: center;
    position: relative;
    align-items: center;
}

header img{
    height: 13.7rem;
    margin: 3.2rem auto;
}

header h1{
    background-color: var(--hd-bgcolor);
    font-family: var(--ff-heading);
    font-weight: var(--fw-main);
    letter-spacing: 0.05em;
    font-size: 4.0rem;
    line-height: 4.9rem;
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    width: 100%;
}

header p {
    display: none;
    font-family: var(--ff-pdesktop);
}

.core{
    margin: auto;
}

main{
    max-width: clamp(33rem, 30rem + 100vw, 100vw);
    margin: 0 auto;
    padding: 1.4rem 3.2rem 6.0rem;
    display: grid;
    gap: 3.2rem;
    text-align: center;
    background-color: var(--bd-bgcolor);
}

header p ,main p{
    font-family: var(--ff-text);
    font-weight: var(--fw-main);
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: #23053A;
    text-align: center;
    margin-bottom: 3.1rem;
}

.card{
    width: 100%;
    position: relative;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: bottomup 800ms;
    border-radius: 2rem;
}

.card h2{
    font-family: var(--ff-heading);
    font-weight: var(--fw-main);
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
    background-color: #FEEAFA;
    padding: .1rem 2.3rem;
    border-radius: 2rem;
    animation: topdown 800ms;
}

main div.e, div.f{
    display: none;
}

footer{
    display: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 1.2rem;
    line-height: 2.8rem;
    justify-content: center;
}

footer p{
    font-weight: 400;
    color: #4A4E69;
}

footer a{
    font-weight: 700;
    text-decoration: none;
    color: #4A4E69;
}

@keyframes bottomup{
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes topdown{
    0%{
        opacity: 0;
        transform: translateY(-2rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 930px){
    :root{
        --bd-bgcolor: white;
    }
    .page{
        display: flex;
    }

    header{
        width: 37.7rem;
        height: 100vh;
    }

    header p{
        display: block;
        color: var(--bd-bgcolor);
        margin: 3.2rem 5rem;
        font-family: var(--ff-pdesktop);
    }

    main p{
        display: none;
    }

    .card h2{
        display: none;
    }

    main {
        margin: 6.4rem auto 0;
        padding: 0rem 3.2rem;
        grid-template-areas: 
        "A B C"
        "D B E"
        "D F E"
    }

    main div.a{
        grid-area: A;
    }
    main div.b{
        grid-area: B;
    }
    main div.c{
        grid-area: C;
    }
    main div.d{
        grid-area: D;
    }
    main div.f{
        grid-area: F;
        display: block;
    }
    main div.e{
        display: block;
        grid-area: E;
    }
    footer{
    display: flex;
    margin: 0 auto;
    margin: 5rem auto 4rem;
    }
}